<!DOCTYPE html>
<html lang="en" class="backgroundImage">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ReifelContador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<style>
.principal {
  color: #1d2129;
  position: absolute;
  margin: 0 auto;
  top: 33%;
  text-align: center;
  width: 100%;
  font-family: 'Nunito', sans-serif; !important
}

.principal .heading-count h2 {
  font-size: 48px;
  color: #1d2129;
  line-height: 0.9;
  margin-bottom: 15px;
}

.transparent {
  font-size: 15px;
  line-height: 22px;
  
  background: rgba(0, 0, 0, 0.44); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  padding: 20px;
  border-radius: 25px;
  margin-left:20%;
  margin-right:20%;

}

.backgroundImage {
  background: url("https://i.redd.it/ktkf3qy7afi21.png") no-repeat;
  background-size: cover; /* background size */
  min-height: 100%; /* Set the minimum height of a element */
  width:100%;
  height:100%;
  
}

html { overflow-x: hidden; }

.footerBalao {
	margin:0;padding-top: 10px;padding-bottom: 10px;
}

@media only screen and (max-width: 760px) {
body { -webkit-text-size-adjust: none; }
	.principal{
		top:12%;
	}
	.transparent{
		margin-left:0;
		margin-right:0;
	}
	ul{
		padding-left: 13px;
	}
	li{
		padding-bottom:10px;
	}
	h2{
		line-height:1.6;
	}
	.backgroundImage{
		background-size:auto;
		background-position:39%;
	}
	
	.footerBalao {
		margin:0;padding-top: 6px;padding-bottom: 7px;
	}
}

li{
	padding-bottom:10px;
}

#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
  top:0;
	width:100%;
	height:100%;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:24%;
	min-width:104px;
	min-height:100px;
  max-height:400px;
	margin-top:50px;
	border:1px solid #fff;
	background-color:#fff;
	background-repeat:no-repeat;
  top:30%;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 1em Raleway,arial;
	background-color:#f97352;
	color:#FFF;
	border-bottom:1px solid #f97352;
	padding:10px 0 10px 5px;
}

#alertBox p {
	padding-left:5px;
  text-align:center;
  vertical-align:middle;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:10px auto 10px auto;
	padding:7px;
	border:0 none;
	width:70px;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#f97352;
	border-radius: 0px;
	text-decoration:none;
  outline:0!important;
}

/* sinal */
.bulb {
  height: 27px;
  width: 55px;
  background-color: grey;
  border-radius: 50%;
  /*margin: 25px auto;*/
  /*transition: background 500ms;*/
  display:inline-block;
}

.pulse {
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

</style>
	

<body>
    <section class="principal">
<div id="stopLight" class="bulb pulse"></div>
<div id="slowLight" class="bulb pulse"></div>
<div id="goLight" class="bulb pulse"></div>
      <div class="text-center">
            <div class="heading-count">
              <h2 id="gonotify">AGUARDE A CONTAGEM</h2>
            </div>
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="transparent">
					  <ul class="text-left" style="margin:0;display:inline-block;vertical-align:middle;">
						<li>Não feche essa página, o áudio da contagem do bot acontece aqui</li>
						<li>Você pode usar o celular para notificação visual</li>
						<li><p style="margin-bottom:0px">Quando o bot gritar "<b>GO</b>" clique no botão do jogo para entrar na partida</p></li>
					  </ul>
					</div>
				</div>
			</div>
      </div>
    </section>
    <footer style="position: fixed;bottom:0;">

  <div class="footerBalao transparent">Desenvolvido por:
    <b><a href="https://discordapp.com/users/195731919424585728" target="_blank" style="color: #ffa355;"> Reifel#5047</a></b>
  </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<audio preload="auto" id="audiotag1" src="https://www.myinstants.com/media/sounds/galvao-homem.mp3"></audio>

<script>
	const audioGal = "https://www.myinstants.com/media/sounds/galvao-homem.mp3";
	var socket = io.connect('https://reifelcontagem.herokuapp.com/');
	
	//var mySound = new Audio(audioGal);
	//mySound.load();
	
	var audioElement = document.getElementById('audiotag1');
	var isMobile = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent));
	
	audioElement.load();
	
	errorHappens();
	audioElement.addEventListener("ended", reload());
	
	socket.on('message', function(data){
		//mySound.play();
		//audioElement.play();
		if(isMobile) {alertVisual(); runSinal(); return;}
		forcePlay();
	});
	
	function reload(){
		if(!audioElement.paused) return; //isplaying
		console.log("recarreguei");
		audioElement.load();
	}
	
	function errorHappens(){
		const urlParams = new URLSearchParams(window.location.search);
		const myParam = urlParams.get('e');
		if(myParam) forcePlay();
		
	}
	
	function forcePlay(a){
		
		//if(isMobile) {alertVisual(); return;}
		//goHeader();
		var playPromise = audioElement.play();
		if (playPromise !== null){
			playPromise.catch(() => { 
				//alert("reload page"); 
				//location.reload();
					playPromise = audioElement.play();
					if (playPromise !== null){
						playPromise.catch(() => { 
							//alert("reload page"); 
							//location.reload();						
							window.location.href = window.location.origin + "/?e=1";				
						});			
					}
			});
		}
	}
	const msgGo = "GO!";
	function alertGo(){
		//window.confirm("");
		createCustomAlert("");
	}
	var goElement = document.getElementById('gonotify');
	
	function goHeader(){
		setTimeout(function (){
			goElement.innerHTML = "<b style='color:red'> GO! </b>";
			setTimeout(function(){goElement.innerHTML = "AGUARDE A CONTAGEM";},4100);
		}, 7000);
		
	}
	
	function alertVisual(){
		setTimeout(alertGo, 6922);
		
	}
	
	//alert
	
var ALERT_TITLE = "GO!";
var ALERT_BUTTON_TEXT = "Ok";

window.alert = function(txt) {
	createCustomAlert(txt);
}

function createCustomAlert(txt="") {
	d = document;

	if(d.getElementById("modalContainer")) return;

	mObj = d.getElementsByTagName("body")[0].appendChild(d.createElement("div"));
	mObj.id = "modalContainer";
	mObj.onclick=function() { removeCustomAlert();return false; };
	mObj.style.height = d.documentElement.scrollHeight + "px";
	
	alertObj = mObj.appendChild(d.createElement("div"));
	alertObj.id = "alertBox";
	if(d.all && !window.opera) alertObj.style.top = document.documentElement.scrollTop + "px";
	alertObj.style.left = (d.documentElement.scrollWidth - alertObj.offsetWidth)/2 + "px";
	alertObj.style.visiblity="visible";

	h1 = alertObj.appendChild(d.createElement("h1"));
	h1.align="center";
	h1.appendChild(d.createTextNode(ALERT_TITLE));

	msg = alertObj.appendChild(d.createElement("p"));
	//msg.appendChild(d.createTextNode(txt));
	msg.innerHTML = txt;

	btn = alertObj.appendChild(d.createElement("a"));
	btn.id = "closeBtn";
	btn.appendChild(d.createTextNode(ALERT_BUTTON_TEXT));
	btn.href = "#";
	btn.focus();
	btn.onclick = function() { removeCustomAlert();return false; }

	alertObj.style.display = "block";
	
}

function removeCustomAlert() {
	document.getElementsByTagName("body")[0].removeChild(document.getElementById("modalContainer"));
}

//sinal
const offColor="grey";
var stop = document.getElementById('stopLight'), slow=document.getElementById('slowLight'), vai=document.getElementById('goLight');
function vermelho() {
  clearLights();
  stop.style.backgroundColor = "red";
  stop.style.animation = "pulse 1s infinite";
}

function amarelo() {
  clearLights();
  slow.style.backgroundColor = "yellow";
  slow.style.animation = "pulse 1s infinite";
}

function verde(){
	clearLights();
	vai.style.backgroundColor = "green";
	vai.style.animation = "pulse 1s infinite";
}

function clearLights() {
  stop.style.backgroundColor = offColor;
  slow.style.backgroundColor = offColor;
  vai.style.backgroundColor = offColor;
  stop.style.animation = "none";
  slow.style.animation = "none";
  vai.style.animation = "none";

}

var atual=1,b;
function trocar(){
if(atual==4) {clearInterval(b);atual=1;}
	switch(atual++){
		case 1:
		vermelho();
	break;
		case 2:
		amarelo();
	break;
		case 3:
		verde();
	break;
		default: return;
	}
}

function runSinal(){
	b= setInterval(function(){trocar()},2356);
}

vermelho();

</script>

</body>
</html>
